notebooks/
notebooks/wandb
notebooks/models
subiculum/data
subiculum/data_awake
subiculum/new_data
notebooks/__pycache__
data/
/project/subiculum/code/__pycache__
subiculum/code/models
code/models
wandb/
/project/subiculum/code/models
vscode-server
.env
git 

